@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
}


.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3% 5%;
  z-index: 10;
}

.navbar-brand {
  width: 100px;
  height: 100%;
}

.brand-logo {
  width: 100%;
  height: 100%;
}

.nav-item {
  display: flex;
  gap: 10px;
}

.language-select {
  border: 1px solid white;
  padding: 0.4rem;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.4);
  color: white;
}


.sign-btn {
  background-color: #dc030f;
  border: 1px solid #dc030f;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
}

.header {
  text-align: end;
}

.banner-section-img {
  width: 100%;
  height: 80vh;
  background: cover;
}

.bg-overlay {
  position: absolute;
  inset: 0%;
  width: 100%;
  height: 80vh;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(to top,
          rgba(0, 0, 0, 0.8) 0,
          rgba(0, 0, 0, 0) 60%,
          rgba(0, 0, 0, 0.8) 100%);
}

.title-card {
  position: absolute;
  top: 30%;
  text-align: center;
  flex-direction: column;
  justify-content: center;


}

.bg-section-title {
  font-weight: 600;
  font-size: 3rem;
  font-family: "roboto";
}

.bg-section-sub-title,
.bg-section-description {
  font-weight: 400;
  font-size: 1rem;
}

.bg-section-description {
  margin: 0 50px;
}

.email-login {
  border: 0px;
  border-radius: 2px;
  height: 45px;
  width: 400px;
  text-align: center;

}

.sign-btn {
  background-color: #dc030f;
  border: 1px solid #dc030f;
  color: white;
  padding: 0.8rem 1.2rem;
  border-radius: 4px;
  font-size: 15px;
  letter-spacing: 1px;
}

.features {
  border-top: 8px solid #222;
  padding: 2rem 1rem;
}

.feature-details {
  text-align: center;
  margin-top: 155px;
}

.feature-title {
  font-size: 55px;
  font-weight: 600;
  margin: 10px 0;
  font-family: "Roboto";
}

.feature-sub-title {
  font-size: 20px;
  font-weight: 400;
  font-family: "Bebas Neue";
}

.feature-img-container {
  width: 100%;
  position: relative;
}

.feature-img {
  width: 100%;
}

.feature-background-video-container {
  position: absolute;
  width: 100%;
  top: 20%;
  left: 13%;
  height: 100%;
  max-width: 73%;
  max-height: 54%;
  z-index: -2;
}



.feature-2-poster-container {
  position: absolute;
  bottom: 0%;
  left: 70%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 19em;
  display: flex;
  align-items: center;
  background-color: black;
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  height: 100px;
  padding: 0.25rem 0.6rem;
  gap: 15px;
}

.poster-container {
  width: 80%;

}

.poster {
  width: 100%;
  height: 80%;
}

.poster-details {
  width: 40%;
}

.poster-decsription {
  font-size: 20px;
  font-weight: 500;
}

.poster-sub-decsription {

  font-size: 15px;
  font-weight: 400;
  color: rgb(63, 63, 246);
}

.download-gif-container {
  width: 100%;
  height: 100%;
}

.gif {
  width: 100%;
  height: 100%;

}

.feature-3-background-video-container {
  position: absolute;

  top: 9%;
  left: 15%;
  height: 100%;

  max-height: 54%;
  z-index: -2;
}

.FAQ-accordian {
  width: 90%;
}

.FAQ-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  font-size: 20px;
  background-color: #303030;
  border: 1px solid #303030;
  color: white;

}

.FAQ-visible {
  background-color: #303030;
  border-top: 1px solid black;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.FAQ-visible {
  margin: 0rem;
}

.FAQ-list-container {
  border-top: 8px solid #222;
  padding: 2rem 0;
}

.FAQ-heading {
  font-size: 50px;
  text-align: center;
  font-weight: 600;
  margin: 1rem 3rem;
  font-weight: bold;
}

.FAQ-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.FAQ-get-started-email {
  text-align: center;
}

.FAQ-get-started-email {

  font-size: 18px;
  font-weight: 400;
  margin: 2rem 0;
}

.form-container {
  text-align: center;
  margin-left: 90px;
}

.email-label {
  border: 0px;
  border-radius: 4px;
  height: 45px;
  width: 400px;
  text-align: center;
}




.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.footer.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer h5 {
  font-weight: bold;
  margin-top: 0;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer li {
  margin-bottom: 10px;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  color: #ccc;
}

.footer.copyright {
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
}

.footer.fab {
  font-size: 18px;
  margin-right: 10px;
}













@media (min-width: 1254px) {}